{% extends 'base.html' %}

{% block content %}
<h2>Карта радіаційного фону</h2>
<div id="map" style="height: 600px;"></div>

<script>
fetch("/radiation/data/")
    .then(response => response.json())
    .then(data => {
        var map = L.map('map').setView([50.45, 30.52], 5);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        data.forEach(station => {
            L.marker([station.latitude, station.longitude])
              .addTo(map)
              .bindPopup(
                `<b>${station.name}</b><br>
                 Gamma: ${station.gamma}<br>
                 Beta: ${station.beta}<br>
                 Alpha: ${station.alpha}<br>
                 Доза: ${station.ambient_dose_rate}<br>
                 Час: ${station.timestamp}`
              );
        });
    });
</script>

{% endblock %}
