{% extends 'base.html' %}

{% block content %}
<h2>Карта моніторингу води</h2>
<div id="map" style="height: 600px;"></div>

<script>
fetch("/water/data/")
    .then(response => response.json())
    .then(data => {
        var map = L.map('map').setView([50.45, 30.52], 5);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        data.forEach(station => {
            L.marker([station.latitude, station.longitude])
              .addTo(map)
              .bindPopup(
                `<b>${station.name}</b><br>
                 pH: ${station.ph}<br>
                 Нітрати: ${station.nitrates}<br>
                 Питомна провідність: ${station.conductivity}<br>
                 Час: ${station.timestamp}`
              );
        });
    });
</script>

{% endblock %}
